<%- include("./partials/header") %>

<div class='container'>
	<div class="page-header">
  		<h1>Signup</h1>
	</div>

	<form action='/register' method='POST'>
	  <div class="form-group">
		<label for="username">Username</label>
		<input type="text" class="form-control" id="username" placeholder="Please enter your username" name="username">
	  </div>
	  <div class="form-group">
		<label for="password">Password</label>
		<input type="password" class="form-control" id="password" placeholder="Please enter your password" name="password">
	  </div>
	  <button class="btn btn-primary">Signup</button>
	</form>
</div>

<%- include("./partials/footer") %>